body{
background-color:lightgreen;
font-family: 'Montserrat', sans-serif;
font-size:18px;
margin-top: 70px;
margin-bottom:70px;
margin-right:80px;
margin-left:80px;
line-height: 2;
}
p{
text-indent:2em;
}
header {
text-align:center;
font-size:54px;
padding-top:10px;
padding-bottom:10px;
border:solid 2px;
grid-column-start:1;
grid-column-end:2;
}  
h2 {
font-size:16px;
text-align:center;
}
h3{
font-size:16px;
}
		
.footer {
left: 0;
bottom: 0;
width: 100%;
color: black;
text-align: center;
}

a {
color:black;
font-size:1.1em;
}
nav ul {
list-style-type:none;
}

article {
margin: auto;
width: 70%;
line-height: 1.5;
}
a:hover {
color:black;
}
.column {
float:left;
width:25%;
}
.row:after {
content:"";
display:table;
clear:both;
}
.center {
width: 20%;
border-radius: 85px;
display: block;
margin-left: auto;
margin-right: auto;
}
		
.dropbtn {
background-color: #050505;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
	background-color: #2d6d08;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}


